<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Normz/Documents/automation/automation-java-seleniium/java-selenium/src/test/java/specs/e2e/LoginSpec.java">
        <classes>
            <class name="specs.e2e.LoginSpec">
                <methods>
                    <include name="performLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>